@model hoangstore.Models.Category

<div class="container mt-4">
    <form method="post">
        <input type="hidden" asp-for="Category_Id" />
        <div class="border p-3 shadow-sm">
            <h2 style="color:purple">
                Sửa danh mục
            </h2>
            <hr />
            <div class="mb-3">
                <label class="form-label">Tên danh mục</label>
                <input asp-for="Category_Name" class="form-control" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Vị trí</label>
                <input class="form-control" asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <label class="form-label" for="forIsActive">Hoạt động</label>
                    <input asp-for="IsActive" type="checkbox" id="forIsActive" class="form-check-input" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary" style="background-color:purple;border:none">Lưu lại</button>
                <a asp-action="Index" class="btn btn-secondary" style="border:none">Quay lại</a>
            </div>
        </div>
    </form>
</div>